@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
margin: 0;
padding: 0;
}


#title {
font-family: 'poppins', sans-serif;
margin-left: 7%;
color: #8880FE,
}

#subtitle {
font-family: 'poppins', sans-serif;
margin-left: 10%;
color:#8880FE;
}


fildset {
border: 0;
}

body {
background-color: #e8e7f3;
font-family: 'poppins', sans-serif;
font-size: 1em;
color:#8880FE;
margin-left: 36%;
margin-top: 2%;
justify-content: center;
}